


@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}


/*--- Navigation --*/
.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0,0,0,0.6)!important;
}
.navbar{
  color: black;
}
.cwezi{
  color: rgb(243, 117, 72);
  text-decoration: none;
}
.navbar-nav li {
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: rgb(238, 122, 80);
}

/*---Landing Page---*/

.home-inner{
  background-image: url(img/img2.jpg)
}
.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;

}
.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;

}
.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}
.card{
  box-shadow: .1rem .1rem .8rem black;

}

.login-form{
  padding: 15px;
  border: 1px solid rgb(233, 230, 230);
  box-shadow: .1rem .1rem .8rem black;
  /* border-radius: 8px; */
  /* margin: auto; */
  /* margin: 20px; */
  margin-top: 20px;
  background: rgb(243, 243, 242)
  

}
.form-control{
  width:85%;
}
/* #adminlogin, #tenantlogin{
  display: none;
} */

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
